/* Header.css */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: linear-gradient(180deg, #131313 -10%, rgba(19, 19, 19, 0) 100%);
  margin-bottom: 50px;
}
